.logo {
  font-size: 74px;
  font-family: 'Bungee Shade', cursive;
  /* font-family: 'Monoton', cursive; */
}

/** Global element styling **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
}

#page-wrapper {
  position: relative;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

/** Global class stylig **/

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 9px;
  background: transparent;
  cursor: pointer;
}